header {
  width: 92%;
  height: 237px;
}
.main-header {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  /* justify-content: flex-end;  */
}

.second-div {
  /* float: right; */
  color: #777777;
  font-weight: 700;
  display: inline-block;
}

.lang-button {
  color: #bab2e7; /* dark modda kullanılcak */
  color: #4731d3;
}
.header-div {
  float: right; /* responsive için md:float-right yap*/
  /* display: none; */
  /* md:inline-block kullan */
}
.third-div {
  display: flex;
  float: left;
  align-items: center;
  color: #777777;
  gap: 0.75rem; /* responsive için md olarak yaz tailwind*/
  padding-inline-end: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  /* hover-text ve hover-dark-text opsiyonal tailwind için */
}
.fourth-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toogle-button {
  width: 3.5rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 1.75rem;
}

.about-div {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

/* .circle {
  margin-left: 8rem;
  width: 5rem;
  height: 5rem;
  padding: 0.75rem;
  text-align: center;
} */

.circle {
  position: relative;
  margin-left: 8rem;
  width: 5rem;
  height: 5rem;
}

.circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Yuvarlak bir görüntü için */
}

.circle p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #3730A3; /* Yazı rengini ayarlayabilirsiniz */
}
